<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="firstTestInClass">
  <test thread-count="5" name="HappyPass">
    <classes>
      <class name="batch_6_framework.TestCase1"/>
    </classes>
  </test> <!-- HappyPass -->
</suite> <!-- firstTestInClass -->
